<nav class="navbar navbar-expand-md navbar-light">
  <a href="/" class="navbar-brand" style="margin-left: 10%;"><img src="/assets/logo.png" height="70"/></a>

  <button class="navbar-toggler" type="button" style="margin-right: 10%;" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent" style="font-size: 1.3rem;"> 
    <ul class="navbar-nav" style="margin-right: 10%;"> 
          <li class="nav-item"><a routerLink="/" class="nav-link" id="home-btn">Home</a></li>
          <li class="nav-item"><a routerLink="/show-members" class="nav-link" id="members-btn">Members</a></li>
          <li class="nav-item"><a routerLink="/show-projects" class="nav-link" id="projects-btn">Projects</a></li>

          <li class="nav-item dropdown" *ngIf="!logged && router.url!='/login' && logInOut =='Login'">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
              Login
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" >
              <li>
                <div class="dropdown-item" id="loginDropdown">
                    <app-login-page></app-login-page>
                </div>
              </li>
            </ul>
          </li>

          <li class="nav-item"><a class="nav-link" id="logout-btn" *ngIf="logged" (click)="logout()" style="cursor: pointer;">Logout</a></li>
          <li class="nav-item"><a routerLink="/signUp" class="nav-link" *ngIf="!logged && logInOut=='Login'">Sign up</a></li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" role="button" id="profileDropdown" data-bs-toggle="dropdown" aria-expanded="false" *ngIf="logged && logInOut=='Logout'">
              {{userLastName}}
            </a>

            <ul class="dropdown-menu" id="profile-dropdown-menu">
              <li><a class="dropdown-item" routerLink="/edit-profile">Edit Profile</a></li>
              <li><a class="dropdown-item" href="#">Messages</a></li>
            </ul>
          </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>